<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 w-75 my-2 text-end">
      <app-button [text]="btnText" (btnClickEvent)="goToCreateNew()"></app-button>
    </div>
    <div class="col-12 w-75 my-3 text-start">
      <h3>Exibindo todos os ingredientes, use a barra de pesquisa para buscar pelo ingrediente desejado e selecione um para ver/editar todos os detalhes:</h3>
    </div>
  </div>
  <app-table-filtering
  [displayedColumns]="displayedColumns"
  (onClickEditEvent)="onClickEdit($event)"
  (onClickDeleteEvent)="onClickDelete($event)"
  (callbackMethodEvent)="onDeleteIngredient($event)"
  ></app-table-filtering>
</div>
  
