<div class="container">
  <div class="row">
      <div class="col-12 col-md-12 col-lg-12 left-space top-spacing">
        <a routerLink="../../materias">
          <mat-icon class="mat-18" color="primary">arrow_back</mat-icon>
        </a>
          <div [ngClass]="isMobileMenu?'justify-start':'justify-end'">
              <p class="primary-color font-size-title-medium bottom-spacing" *ngIf="editMode">
                  {{ editSubject }}
              </p>
          </div>
          <div [ngClass]="isMobileMenu?'justify-start':'justify-end'">
              <p class="primary-color font-size-title-medium bottom-spacing" *ngIf="!editMode">
                  {{ addSubject }}
              </p>
          </div>
      </div>
  </div>
  <form [formGroup]="subjectForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-lg-6 col-12">
          <div class="row" formGroupName="subject">
            <div class="col-12 text-center bottom-spacing-2">
              <mat-form-field appearance="fill" color="primary" [ngClass]="isMobileMenu?'input-width-large':'width-large'">
                <mat-label>Nome da matéria:</mat-label>
                <input matInput placeholder="Digite o nome da matéria"
                formControlName="name" [value]="subjectForm.value.subject.name">
              </mat-form-field>
            </div>
            <div class="col-6 text-end bottom-spacing-2">
                <mat-form-field appearance="fill" color="primary" [ngClass]="isMobileMenu?'input-width-small':'input-width-large-2'">
                    <mat-label>Código da matéria:</mat-label>
                    <input matInput placeholder="Digite o código da matéria"
                    formControlName="registerCode" [value]="subjectForm.value.subject.registerCode">
                </mat-form-field>
            </div>
            <div class="col-6 bottom-spacing-2">
              <mat-form-field color="primary" appearance="fill" [ngClass]="isMobileMenu?'input-width-small':'input-width-large-2'">
                <mat-label>Semestre</mat-label>
                <mat-select formControlName="semester" [(value)]="subjectForm.value.subject.semester">
                    <mat-option *ngFor="let semester of semesters" [value]="semester">
                      {{semester}}
                    </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-6 text-end bottom-spacing-2">
              <mat-form-field color="primary" appearance="fill" [ngClass]="isMobileMenu?'input-width-small':'input-width-large-2'">
                <mat-label>Nº de aulas no semestre</mat-label>
                <mat-select formControlName="numberOfClasses" [(value)]="subjectForm.value.subject.numberOfClasses">
                    <mat-option *ngFor="let classNumber of numberOfClasses" [value]="classNumber">
                      {{classNumber}}
                    </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-12 text-center bottom-spacing-1">
          <p>Aulas da matéria:</p>
          <div class="row">
            <div class="col-12">
              <ng-container formArrayName="lessons">
                <ng-container *ngFor="let lessonForm of lessons.controls; let i = index">
                    <div class="d-flex align-items-start justify-content-center">
                      <div *ngFor="let lesson of allLessons; let j = index;" class="bottom-spacing-1">
                        <p>Aula {{j}}: {{lesson.recipeName}}</p>
                        <app-button [text]="addRecipeText" (btnClickEvent)="onAddRecipe()"></app-button>
                      </div>
                    </div>
                </ng-container>
              </ng-container>
            </div>
          </div>
          <div class="col-12 bottom-spacing text-center">
            <app-button [text]="btnText" type="submit"></app-button>
        </div>
      </div>
    </div>
  </form>
</div>


