    <button [ngClass]="isMobileMenu?'button-size':''" mat-mini-fab color="{{btnColor}}" aria-label="edit button with icon" (click)="iconBtnClick()">
      <mat-icon [ngClass]="isMobileMenu?'icon-size':''">{{ btnIcon }}</mat-icon>
    </button>


<!-- how to use in parent component html -->
<!-- <app-icon-button (iconBtnEvent)="onClick($event)"></app-icon-button> -->

<!-- how to use in parent component ts -->
<!-- 
  onClick(event: string) {
  if(event === 'edit') {
    console.log('editando');
  }
  if(event === 'delete') {
    console.log('deletando');
  }
} 
-->