<div class="container">
  <div class="row">
    <div class="col-12 col-md-12 col-lg-12 left-space top-spacing">
      <a routerLink="../../receitas">
        <mat-icon class="mat-18" color="primary">arrow_back</mat-icon>
      </a>
      <div [ngClass]="isMobileMenu ? 'justify-start' : 'justify-end'">
        <p
          class="primary-color font-size-title-medium bottom-spacing"
          *ngIf="!editMode"
        >
          {{ addRecipe }}
        </p>
      </div>
      <div [ngClass]="isMobileMenu ? 'justify-start' : 'justify-end'">
        <p
          class="primary-color font-size-title-medium bottom-spacing"
          *ngIf="editMode"
        >
          {{ editRecipe }}
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <form class="example-form" [formGroup]="recipeForm">
      <div class="col-4">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <div class="square-container" *ngIf="!editMode">
                <app-file-upload></app-file-upload>
              </div>
              <div class="img-container" *ngIf="editMode">
                <img
                  [src]="imagePath"
                  class="img-responsive img-size imagePath"
                />
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field
                appearance="fill"
                color="primary"
                class="example-full-width"
              >
                <mat-label>Nome da Receita</mat-label>
                <input
                  matInput
                  placeholder="Digite o nome da receita"
                  formControlName="name"
                  #name
                  [value]="recipeForm.value.name"
                />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field
                appearance="fill"
                color="primary"
                class="example-full-width"
              >
                <mat-label>Descrição</mat-label>
                <textarea
                  matInput
                  placeholder="Insira a descrição da receita"
                  formControlName="description"
                  #description
                  [value]="recipeForm.value.description"
                ></textarea>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field
                appearance="fill"
                color="primary"
                class="example-full-width"
              >
                <mat-label>Código da receita</mat-label>
                <input
                  matInput
                  placeholder="Digite o código da receita"
                  formControlName="id"
                  #id
                  [value]="recipeForm.value.id"
                />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field
                color="primary"
                appearance="fill"
                class="example-full-width"
              >
                <mat-label>Matéria</mat-label>
                <mat-select
                  formControlName="discipline"
                  [(value)]="recipeForm.value.discipline"
                >
                  <mat-option
                    *ngFor="let discipline of allDisciplines"
                    [value]="discipline"
                  >
                    {{ discipline }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field
                appearance="fill"
                color="primary"
                class="example-full-width"
              >
                <mat-label>País/Região</mat-label>
                <input
                  matInput
                  placeholder="Digite o país/região de origem da receita"
                  formControlName="region"
                  #region
                  [value]="recipeForm.value.region"
                />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field
                appearance="fill"
                color="primary"
                class="example-full-width"
              >
                <mat-label>Tempo de Preparo</mat-label>
                <input
                  type="time"
                  matInput
                  placeholder="Insira o tempo de preparo da receita"
                  formControlName="prepDuration"
                  #prepDuration
                  [value]="recipeForm.value.prepDuration"
                />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field
                appearance="fill"
                color="primary"
                class="example-full-width"
              >
                <mat-label>Porções</mat-label>
                <input
                  type="number"
                  matInput
                  placeholder="Insira o rendimento da receita"
                  formControlName="yeldis"
                  #yeldis
                  [value]="recipeForm.value.yeldis"
                />
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field
                appearance="fill"
                color="primary"
                class="example-full-width"
              >
                <mat-label>Observações do Chef</mat-label>
                <textarea
                  matInput
                  placeholder="Caso tenha alguma nota ou observação importante, insira aqui"
                  formControlName="chefsNote"
                  #chefsNote
                  [value]="recipeForm.value.chefsNote"
                ></textarea>
              </mat-form-field>
            </td>
          </tr>
        </table>
        <div class="col-8">
          <table>
            <p>Adicionar ingrediente:</p>
            <div>
              <app-icon-button
                [btnColor]="addBtnColor"
                [btnIcon]="addBtnIcon"
                (click)="onAddIngredient()"
              ></app-icon-button>
            </div>
            <ng-container formArrayName="ingredients">
              <ng-container
                *ngFor="
                  let line of ingredients.controls;
                  let i = index"
                  [formGroupName]="i"
              >
                <div>
                  <tr>
                    <p>form group values: {{ ingredients[i].value.name | json }}</p>
                    <td>
                      <mat-form-field appearance="outline">
                        <mat-label>Ingrediente</mat-label>
                        <mat-select
                          formControlName="name"
                          #name
                          [(value)]="ingredients[i].controls.name"
                        >
                          <mat-option
                            *ngFor="let ingredient of allIngredients"
                            [value]="ingredient"
                          >
                            {{ ingredient.name }} 
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </td>
  
                    <td>
                      <mat-form-field
                        class="example-full-width"
                        appearance="outline"
                      >
                        <input
                          matInput
                          formControlName="unity"
                          [value]="recipeForm.value.ingredients[i].selectedIngredients[i].unity"
                        />
                      </mat-form-field>
                    </td>
  
                    <td>
                      <mat-form-field
                        class="example-full-width"
                        appearance="outline"
                      >
                        <input
                          type="number"
                          matInput
                          #quantity
                          formControlName="quantity"
                          [value]="+recipeForm.value.ingredients[i].selectedIngredients[i].quantity"
                          maxlength="7"
                          placeholder="Insira aqui a quantidade"
                        />
                      </mat-form-field>
                      <div class="left-space">
                        <app-icon-button [btnColor]="deleteBtnColor" [btnIcon]="deleteBtnIcon"
                        (click)="onDeleteIngredient(i)"></app-icon-button>
                      </div>
                    </td>
                  </tr>

                </div>
              </ng-container>
            </ng-container>
          </table>
        </div>
        <app-button [text]="btnText" (btnClickEvent)="onSubmit()"></app-button>
      </div>
    </form>
  </div>
</div>
