<div class="container top-spacing">
    <div class="row">
        <div class="col-12">
            <button mat-icon-button *ngIf="mobileMenu">
                <fa-icon [icon]="faUser"></fa-icon>
                <span routerLink="/login" class="subicon-position">{{login}}</span>
            </button>
            <p class="primary-color font-size-healine-medium bottom-spacing text-center">
                Olá {{name}}, o que você precisa fazer hoje?
            </p>
        </div>
    </div>
    <div class="row text-center centralize">
        <div class="col-6 col-xs-6 col-md-4 col-lg-3">
            <div class="square-container side-spacing">
                <div class="background square">
                    <div class="bg-color bg-rounded center" routerLink='/professors'>

                        <fa-icon [icon]="faGraduationCap" class="icon-color"></fa-icon>

                    </div>
                    <a class="primary-color font-size-label-large" routerLink='/professors'>Professores</a>
                </div>
            </div>
        </div>
        <div class="col-6 col-xs-6 col-md-4 col-lg-3">
            <div class="square-container side-spacing">
                <div class="background square">
                    <div class="bg-color bg-rounded center" routerLink='/students'>
                        <fa-icon [icon]="faUserGroup" class="icon-color"></fa-icon>
                    </div>
                    <a class="primary-color font-size-label-large" routerLink='/students'>Alunos</a>
                </div>
            </div>
        </div>
        <div class="col-6 col-xs-6 col-md-4 col-lg-3">
            <div class="square-container side-spacing">
                <div class="background square">
                    <div class="bg-color bg-rounded center" routerLink='/subjects'>
                        <fa-icon [icon]="faList" class="icon-color"></fa-icon>
                    </div>
                    <a class="primary-color font-size-label-large" routerLink='/subjects'>Matérias</a>
                </div>
            </div>
        </div>
        <div class="col-6 col-xs-6 col-md-4 col-lg-3">
            <div class="square-container side-spacing">
                <div class="background square">
                    <div class="bg-color bg-rounded center" outerLink='/classes'>
                        <fa-icon [icon]="faChalkboardUser" class="icon-color"></fa-icon>
                    </div>
                    <a class="primary-color font-size-label-large" routerLink='/classes'>Turmas</a>
                </div>
            </div>
        </div>
        <div class="col-6 col-xs-6 col-md-4 col-lg-3">
            <div class="square-container side-spacing">
                <div class="background square">
                    <div class="bg-color bg-rounded center" routerLink='/recipes'>
                        <fa-icon [icon]="faBook" class="icon-color"></fa-icon>
                    </div>
                    <a class="primary-color font-size-label-large" routerLink='/recipes'>Receitas</a>
                </div>
            </div>
        </div>
        <div class="col-6 col-xs-6 col-md-4 col-lg-3">
            <div class="square-container side-spacing">
                <div class="background square">
                    <div class="bg-color bg-rounded center" routerLink='/ingredients'>
                        <fa-icon [icon]="faBasketShopping" class="icon-color"></fa-icon>
                    </div>
                    <a class="primary-color font-size-label-large" routerLink='/ingredients'>Ingredientes</a>
                </div>
            </div>
        </div>
        <div class="col-6 col-xs-6 col-md-4 col-lg-3">
            <div class="square-container side-spacing">
                <div class="background square">
                    <div class="bg-color bg-rounded center" routerLink='/events'>
                        <fa-icon [icon]="faNoteSticky" class="icon-color"></fa-icon>
                    </div>
                    <a class="primary-color font-size-label-large" routerLink='/events'>Eventos</a>
                </div>
            </div>
        </div>
    </div>
</div>