/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16pt;
}

/* Color styles */
$white: #FFFFFF;
$black: #000000;
$source--seed: #19545E;
$source--primary: #19545E;
$source--secondary: #107D79;
$source--tertiary: #509792;
$source--neutral: #FFFFFF;
$sys--light--surface-tint: #006876;
$sys--light--surface-tint-color: #006876;
$sys--light--on-error-container: #410002;
$sys--light--on-error: #FFFFFF;
$sys--light--error-container: #FFDAD6;
$sys--light--on-tertiary-container: #00201E;
$sys--light--on-tertiary: #FFFFFF;
$sys--light--tertiary-container: #70F7EF;
$sys--light--tertiary: #006A65;
$sys--light--shadow: #000000;
$sys--light--error: #BA1A1A;
$sys--light--outline: #6F797B;
$sys--light--on-background: #001F24;
$sys--light--background: #F6FEFF;
$sys--light--inverse-on-surface: #D0F8FF;
$sys--light--inverse-surface: #00363D;
$sys--light--on-surface-variant: #3F484A;
$sys--light--on-surface: #001F24;
$sys--light--surface-variant: #DBE4E6;
$sys--light--surface: #F6FEFF;
$sys--light--on-secondary-container: #00201F;
$sys--light--on-secondary: #FFFFFF;
$sys--light--secondary-container: #70F7F0;
$sys--light--secondary: #006A66;
$sys--light--inverse-primary: #51D7EE;
$sys--light--on-primary-container: #001F25;
$sys--light--on-primary: #FFFFFF;
$sys--light--primary-container: #A0EFFF;
$sys--light--primary: #006876;
$sys--dark--surface-tint: #51D7EE;
$sys--dark--surface-tint-color: #51D7EE;
$sys--dark--on-error-container: #FFDAD6;
$sys--dark--on-error: #690005;
$sys--dark--error-container: #93000A;
$sys--dark--on-tertiary-container: #70F7EF;
$sys--dark--on-tertiary: #003734;
$sys--dark--tertiary-container: #00504C;
$sys--dark--tertiary: #4FDAD2;
$sys--dark--shadow: #000000;
$sys--dark--error: #FFB4AB;
$sys--dark--outline: #899295;
$sys--dark--on-background: #97F0FF;
$sys--dark--background: #001F24;
$sys--dark--inverse-on-surface: #001F24;
$sys--dark--inverse-surface: #97F0FF;
$sys--dark--on-surface-variant: #BFC8CA;
$sys--dark--on-surface: #97F0FF;
$sys--dark--surface-variant: #3F484A;
$sys--dark--surface: #001F24;
$sys--dark--on-secondary-container: #70F7F0;
$sys--dark--on-secondary: #003735;
$sys--dark--secondary-container: #00504D;
$sys--dark--secondary: #4EDAD4;
$sys--dark--inverse-primary: #006876;
$sys--dark--on-primary-container: #A0EFFF;
$sys--dark--on-primary: #00363E;
$sys--dark--primary-container: #004E59;
$sys--dark--primary: #51D7EE;
$ref--error--error0: #000000;
$ref--error--error10: #410002;
$ref--error--error20: #690005;
$ref--error--error30: #93000A;
$ref--error--error40: #BA1A1A;
$ref--error--error50: #DE3730;
$ref--error--error60: #FF5449;
$ref--error--error70: #FF897D;
$ref--error--error80: #FFB4AB;
$ref--error--error90: #FFDAD6;
$ref--error--error95: #FFEDEA;
$ref--error--error99: #FFFBFF;
$ref--error--error100: #FFFFFF;
$ref--error--error5: #2D0001;
$ref--error--error15: #540003;
$ref--error--error25: #7E0007;
$ref--error--error35: #A80710;
$ref--error--error98: #FFF8F7;
$ref--primary--primary0: #000000;
$ref--primary--primary10: #001F25;
$ref--primary--primary20: #00363E;
$ref--primary--primary30: #004E59;
$ref--primary--primary40: #006876;
$ref--primary--primary50: #008394;
$ref--primary--primary60: #009FB4;
$ref--primary--primary70: #26BBD2;
$ref--primary--primary80: #51D7EE;
$ref--primary--primary90: #A0EFFF;
$ref--primary--primary95: #D3F7FF;
$ref--primary--primary99: #F7FDFF;
$ref--primary--primary100: #FFFFFF;
$ref--primary--primary5: #00014D;
$ref--primary--primary15: #13186E;
$ref--primary--primary25: #00424B;
$ref--primary--primary35: #005B67;
$ref--primary--primary98: #EEFCFF;
$ref--secondary--secondary0: #000000;
$ref--secondary--secondary10: #00201F;
$ref--secondary--secondary20: #003735;
$ref--secondary--secondary30: #00504D;
$ref--secondary--secondary40: #006A66;
$ref--secondary--secondary50: #008581;
$ref--secondary--secondary60: #00A29C;
$ref--secondary--secondary70: #22BEB8;
$ref--secondary--secondary80: #4EDAD4;
$ref--secondary--secondary90: #70F7F0;
$ref--secondary--secondary95: #B0FFFA;
$ref--secondary--secondary99: #F2FFFD;
$ref--secondary--secondary100: #FFFFFF;
$ref--secondary--secondary5: #0E0F21;
$ref--secondary--secondary15: #232437;
$ref--secondary--secondary25: #004341;
$ref--secondary--secondary35: #005D5A;
$ref--secondary--secondary98: #E3FFFC;
$ref--tertiary--tertiary0: #000000;
$ref--tertiary--tertiary10: #00201E;
$ref--tertiary--tertiary20: #003734;
$ref--tertiary--tertiary30: #00504C;
$ref--tertiary--tertiary40: #006A65;
$ref--tertiary--tertiary50: #008580;
$ref--tertiary--tertiary60: #00A29B;
$ref--tertiary--tertiary70: #23BEB7;
$ref--tertiary--tertiary80: #4FDAD2;
$ref--tertiary--tertiary90: #70F7EF;
$ref--tertiary--tertiary95: #B1FFF8;
$ref--tertiary--tertiary99: #F2FFFD;
$ref--tertiary--tertiary100: #FFFFFF;
$ref--tertiary--tertiary5: #21071B;
$ref--tertiary--tertiary15: #3A1B30;
$ref--tertiary--tertiary25: #004340;
$ref--tertiary--tertiary35: #005D59;
$ref--tertiary--tertiary98: #E3FFFC;
$ref--neutral--neutral0: #000000;
$ref--neutral--neutral10: #001F24;
$ref--neutral--neutral20: #00363D;
$ref--neutral--neutral30: #004F58;
$ref--neutral--neutral40: #006874;
$ref--neutral--neutral50: #008391;
$ref--neutral--neutral60: #00A0B0;
$ref--neutral--neutral70: #22BCCF;
$ref--neutral--neutral80: #4FD8EB;
$ref--neutral--neutral90: #97F0FF;
$ref--neutral--neutral95: #D0F8FF;
$ref--neutral--neutral99: #F6FEFF;
$ref--neutral--neutral100: #FFFFFF;
$ref--neutral--neutral-na-n: #FFFFFF;
$ref--neutral--neutral5: #111114;
$ref--neutral--neutral15: #262529;
$ref--neutral--neutral25: #00424A;
$ref--neutral--neutral35: #005B66;
$ref--neutral--neutral98: #EDFCFF;
$ref--neutral-variant--neutral-variant0: #000000;
$ref--neutral-variant--neutral-variant10: #141D1F;
$ref--neutral-variant--neutral-variant20: #293234;
$ref--neutral-variant--neutral-variant30: #3F484A;
$ref--neutral-variant--neutral-variant40: #576062;
$ref--neutral-variant--neutral-variant50: #6F797B;
$ref--neutral-variant--neutral-variant60: #899295;
$ref--neutral-variant--neutral-variant70: #A3ADAF;
$ref--neutral-variant--neutral-variant80: #BFC8CA;
$ref--neutral-variant--neutral-variant90: #DBE4E6;
$ref--neutral-variant--neutral-variant95: #E9F2F5;
$ref--neutral-variant--neutral-variant99: #F7FDFF;
$ref--neutral-variant--neutral-variant100: #FFFFFF;
$ref--neutral-variant--neutral-variant5: #101018;
$ref--neutral-variant--neutral-variant15: #25252D;
$ref--neutral-variant--neutral-variant25: #343D3F;
$ref--neutral-variant--neutral-variant35: #4B5456;
$ref--neutral-variant--neutral-variant98: #F2FBFD;
$key-colors--primary: #19545E;
$key-colors--secondary: #107D79;
$key-colors--tertiary: #509792;
$key-colors--error: #BA1A1A;
$key-colors--neutral: #FFFFFF;
$key-colors--neutral-variant: #576062;
$surfaces--light--surface1: rgba(0, 104, 118, 0.05);
$surfaces--light--surface2: rgba(0, 104, 118, 0.08);
$surfaces--light--surface3: rgba(0, 104, 118, 0.11);
$surfaces--light--surface4: rgba(0, 104, 118, 0.12);
$surfaces--light--surface5: rgba(0, 104, 118, 0.14);
$surfaces--dark--surface1: rgba(81, 215, 238, 0.05);
$surfaces--dark--surface2: rgba(81, 215, 238, 0.08);
$surfaces--dark--surface3: rgba(81, 215, 238, 0.11);
$surfaces--dark--surface4: rgba(81, 215, 238, 0.12);
$surfaces--dark--surface5: rgba(81, 215, 238, 0.14);

/* Text-size styles */
$label--small: 11pt;
$label--medium: 12pt;
$label--large: 14pt;
$body--small: 12pt;
$body--medium: 14pt;
$body--large: 16pt;
$headline--small: 24pt;
$headline--medium: 28pt;
$headline--large: 32pt;
$display--small: 36pt;
$display--medium: 45pt;
$display--large: 57pt;
$title--small: 14pt;
$title--medium: 16pt;
$title--large: 22pt;
