<div class="container">
  <div class="row">
      <div class="col-12 col-md-12 col-lg-12 left-space top-spacing bottom-spacing">
          <div [ngClass]="isMobileMenu?'justify-start':'justify-end'">
              <p class="primary-color font-size-title-medium bottom-spacing" *ngIf="editMode">
                  {{ editStudent }}
              </p>
          </div>
          <div [ngClass]="isMobileMenu?'justify-start':'justify-end'">
              <p class="primary-color font-size-title-medium bottom-spacing" *ngIf="!editMode">
                  {{ addStudent }}
              </p>
          </div>
      </div>
  </div>
  <form [formGroup]="ingredientForm" (ngSubmit)="onSubmit()">
      <div class="row">
          <div class="col-12 text-center">
              <mat-form-field appearance="fill" color="primary" class="width-large">
                  <mat-label>Nome</mat-label>
                  <input matInput placeholder="Insira o nome do aluno aqui" formControlName="name">
              </mat-form-field>
          </div>
          <!-- Exibir esse campo apenas no modo edição -->
          <div class="col-12 text-center">
              <mat-form-field appearance="fill" color="primary" class="width-large">
                  <mat-label>Id do ingrediente:</mat-label>
                  <input matInput formControlName="id" [disabled]="true">
              </mat-form-field>
          </div>
          <div class="col-12 text-center">
            <mat-form-field class="btn-margin width-large" appearance="fill">
              <mat-label>Unidade de medida</mat-label>
              <mat-select formControlName="unity" [(value)]="ingredientForm.value.unity">
                  <mat-option *ngFor="let myUnity of unity | keyvalue" [value]="myUnity.value">
                    {{myUnity.value}}
                  </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-lg-12 order-lg-last col-md-6 order-md-last col-12 bottom-spacing text-center">
              <app-button [text]="btnText" type="submit"></app-button>
          </div>
      </div>
  </form>
</div>

