@import '~@angular/material/theming';

@include mat-core();

// PALETTE 
$primary:(
  50: #00014D,
  100: #001F25,
  200: #00363E,
  300: #004E59,
  400: #006876,
  500: #008394,
  600: #009FB4,
  700: #26BBD2,
  800: #51D7EE,
  900: #A0EFFF,  
  contrast:(
    50: #A0EFFF,
    100:#51D7EE,
    200:#26BBD2,
    300:#009FB4,
    400:#FFFFFF,
    500:#006876,
    600:#004E59,
    700:#00363E,
    800:#001F25,
    900:#00014D,
  )
);

$secondary:(
  50: #0E0F21,
  100: #00201F,
  200: #003735,
  300: #00504D,
  400: #006A66,
  500: #008581,
  600: #00A29C,
  700: #22BEB8,
  800: #4EDAD4,
  900: #70F7F0,
  contrast:(
    50: #70F7F0,
    100: #4EDAD4,
    200: #22BEB8,
    300: #00A29C,
    400: #f0f0f0,
    500: #f0f0f0,
    600: #00504D,
    700: #003735,
    800: #00201F,
    900: #0E0F21,
  )
);

$tertiary:(
  50: #21071B,
  100: #00201E,
  200: #003734,
  300: #00504C,
  400: #006A65,
  500: #008580,
  600: #00A29B,
  700: #23BEB7,
  800: #4FDAD2,
  900: #70F7EF,
  contrast:(
    50: #70F7EF,
    100: #4FDAD2,
    200: #23BEB7,
    300: #00A29B,
    400: #f0f0f0,
    500: #f0f0f0,
    600: #00504C,
    700: #003734,
    800: #00201E,
    900: #21071B,
  )
);

$neutral:(
  50: #000000,
  100: #001F24,
  200: #00363D,
  300: #004F58,
  400: #006874,
  500: #008391,
  600: #00A0B0,
  700: #22BCCF,
  800: #4FD8EB,
  900: #FFFFFF,
  contrast:(
    50: #FFFFFF,
    100:#4FD8EB,
    200:#22BCCF,
    300:#00A0B0,
    400:#f0f0f0,
    500: #f0f0f0,
    600:#004F58,
    700:#00363D,
    800:#001F24,
    900:#000000,
  )
);
$error:(
50: #000000,
100: #410002,
200: #690005,
300: #93000A,
400: #BA1A1A,
500: #DE3730,
600: #FF5449,
700: #FF897D,
800: #FFB4AB,
900: #FFDAD6,
contrast:(
  50: #FFDAD6,
  100:#FFB4AB,
  200: #FF897D,
  300:#FF5449,
  400: #f0f0f0,
  500: #FFFFFF,
  600: #BA1A1A,
  700:#690005,
  800:#410002,
  900: #000000,
)
);
$surface:(
50: rgba(0, 104, 118, 0.05),
100: rgba(0, 104, 118, 0.08),
200: rgba(0, 104, 118, 0.11),
300: rgba(0, 104, 118, 0.12),
400: rgba(0, 104, 118, 0.14),
500: #00363D,
600: #006876,
700: #51D7EE,
800: #97F0FF,
900:#D0F8FF,
  contrast:(
    50: rgba(0, 104, 118, 0.14),
    100: #00363D,
    200: #006876,
    300: #00363D,
    400: #00363D,
    500: #97F0FF,
    600: rgba(0, 104, 118, 0.12),
    700: rgba(0, 104, 118, 0.11),
    800: rgba(0, 104, 118, 0.08),
    900: rgba(0, 104, 118, 0.05),
  )
);

/* ======== Angular material custom themes ======== */ 
//$my-custom-primary: $primary;
$my-custom-primary: mat-palette($primary, 400);
$my-custom-accent: mat-palette($secondary, 400);
$my-custom-warn: mat-palette($error, 400);
$my-custom-theme: mat-light-theme($my-custom-primary, $my-custom-accent, $my-custom-warn);
@include angular-material-theme($my-custom-theme);
